<!-- page for creation of new activity instance -->

{% extends 'planner/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Create new training activity</h1>
{% endblock page_header %}  
{% block content %}
<!-- Change this to table -->

<table>
  {% for act in ACT_LIST %}
    <tr>
      <td>
        <a href="{% url 'planner:addnew' act.act_type %}">
          {{act.act_type}}
        </a> 
      </td>  
      <td>{{act.description}}</td>
    </tr>  
  {% endfor %}
</table>
{% if add_form %}
  <form method="post" action="{% url 'planner:addnew' %}" class="form">
    {% csrf_token %}

    {% bootstrap_form add_form %}

    <!-- hidden input containing activity type so addnew view knows which form type to save -->
  <input type="hidden", name="act_type", value="{{act_type}}"> 
  {% buttons %}
    <button name="submit" class="btn btn-primary"> Create new {{act_type}}</button>  
  {% endbuttons %}
{% endif %}  
{% endblock content %}