{% extends 'planner/base.html'  %}
{% load bootstrap4 %}
{% block page_header %}
  <h4>Delete activity</h4>
{% endblock page_header %}  

{% block content %}

  <h5>Permanently delete {{activity.name}} ?</h5>
  <!-- deletion link -->
    <form action="{% url 'planner:delete' 0 %}" method="post" class="form">
      {% csrf_token %}
        
      <input type="hidden" name="act_id" value={{activity.id}}>
      <button name="submit"class="btn btn-primary btn-danger">
        Delete
      </button>

    </form>
  <p>
  <!-- TODO return link button -->
    <a href="{% url 'planner:home' %}">Return</a>
  </p>

{% endblock content %}