{% extends 'planner/base.html' %}
  {% load bootstrap4 %}
  {% block page_header %}
   
    <h3>User Guide</h3>
      
  {% endblock page_header %}

  {% block content %}

  <h4>Welcome to Kanplan</h4>
    <p>This web app lets you build customised training plans for running and other types of exercise.
    This help page explains how to use the basic features of the app.</p>
  <h4>Creating new activity types</h4>
    <p>The first step of building a plan is to create some activities. From the create new activity page, select an activity type from the list, and then enter its details. For most exercise types there is also the option of making the activity progressive, which means that the distance, duration or repetitions will increase slightly every time the activity is performed, until the progression goal is reached.</p>
    <p>You will be able to see a list of any activities you create on the home screen. They can also be edited and deleted from here.</p>
    <p>
      <img style="border: 2px solid #3399ff;" src="https://storage.googleapis.com/picboi-39298.appspot.com/final/9SO6Zy65_1000x800">
    </p>  

  <h4>Building a plan</h4>
    <p>Once one or more activity types have been created you can schedule them on the create / edit plan page. The default plan length is 2 weeks per cycle, this can be changed on the preferences page. </p>
    <p>
      <img style="border: 2px solid #3399ff;" src="https://storage.googleapis.com/picboi-39298.appspot.com/final/4QFnMKFK_1000x800">
    </p>
  <h4>The home screen</h4>
    <p> If you have created a plan, scheduled events for the current week and the next week will be shown in  a table on your home screen. 
    <p> 
      <img style="border: 2px solid #3399ff;" src="https://storage.googleapis.com/picboi-39298.appspot.com/final/lyB29PRo_1000x800"> 
    </p>
  <h4>Submitting activities.</h4>
    <p>There are several ways to 'submit' completed activities when you have done them. Firstly, if an activity is scheduled for the current day, there will be a link to submit that activity under its name on the home screen schedule. Secondly, below the activities list there is a submit link next to each of your activities. Lastly, when logging in if there were any activities scheduled to be completed since your last login, you will be shown an update screen where you can confirm whether those activities were completed or not.
    <p>   
       <img style="border: 2px solid #3399ff;" src="https://storage.googleapis.com/picboi-39298.appspot.com/final/emEm3tuD_1000x800">
    </p>
  <h4>Activity / distance history</h4>
    <p>These pages provide a history of your recently performed activities, and your total distance per week.</p>
  <h4>Preferences</h4>
    <p>Under preferences there are various options for adjusting your plan length, deleting activity history, or changing your pace settings</p>
  <h4>About this app</h4>
    <p>This app was written as a practice project using the Django framework for Python</p>

{% endblock content %}