{% extends 'planner/base.html' %}
  {% load bootstrap4 %}
  {% block page_header %}
   
    <h4>User Guide</h4>
      
  {% endblock page_header %}

  {% block content %}

<h5>Welcome to Kanplan</h5>
  <p>This web app let's you build customised trianing plans for running and other forms exercise</p>
<h5>Create new activity types</h5>
  <p>The first step is to create activities, from which you can then build a plan. Select a run type and then enter the details. For most training types you have the option of choosing to mkae the activity progressive or static.</p>
<h5>Building a plan</h5>
<p>Once you have cre3ated some activity types you can build a plan by selecting which activities to perform on which says. The default plan length is 2 weeks per cycle, this can be changed in preferences. </p>
<h5>The home screen</h5>
<p>Once you ahve created and saved a plan, you will see your schedule of acitvities displayed on the home screen. here you can see (etc..)
explain submit
</p>
 <h5>Updates</h5> 
When you log in you will be shown an update screen that asks you to confirm whether you ahve completed exercises that were scheduled between now and your last login. If you did the acitivities select completed, if not select did not complete. </p>
<h5>Activity / distance hsitory</h5>
<p>These pages provide a history of your recently performed activities, and your total weekly distance per week.</p>
<h5>Preferences</h5>
<p>On the preferences there are various options for adjusting your plan length, deleting activity history, or changing your pace settings</p>
<h5>About this app</h5>
<p>This app was written as a practice project using the Django framwork for Python</p>

<h4>
Help text Outline</h4>

<p>Write each section then add images</p>
<p>0)Intro
  <br>1)create new (explain prog)
<br>2)build schedule
<br>3)home screen schedule explanation
<br>4)preferences and option
</p> 
</p>

{% endblock content %}