{% extends 'planner/base.html' %}
  {% load bootstrap4 %}
  {% block page_header %}
   
    <h4>User Guide</h4>
      
  {% endblock page_header %}

  {% block content %}

<h5>Welcome to Kanplan</h5>
  <p>This web app let's you build customised training plans for running and other forms exercise.
  This page explains how to use the basic features of the app.</p>
<h5>Create new activity types</h5>
  <p>The first step of building a plan is to create the different activity types from whci it wil be built. From the create new activity page, select an a ctivity type from the list, and then enter the relevant details. For most exercise types there is also the option of maing the activity progressive, which means that you can set it's distance, duration or repetitions to increase by a  set amount each time the activity is perofrmed, until the progression goal is reached.
    progressively over time 
<p>CREATE NEW ACT IMG</p>
<h5>Building a plan</h5>
<p>Once one or more activity types have been created you can schedule them on the create / edit plan page. The default plan length is 2 weeks per cycle, this can be changed on the preferences page. </p>
<p>BUILD PLAN IMAGE</p>
<h5>The home screen</h5>
<p>HOME SCREEN SHWOING SCHEDULE</p>
<p> If you have created a plan, scheduled events for the current week and the next week will be shown in  a table on your home screen. 
<h5>Submitting activities.</h5>
<p>There are several ways to 'submit' activities once you ahve completed them. Firstly, if an activity is scheduled for the current day, there will be a link to submit that activity as completed under it's name on the home screen schedule. Secondly, under the activities list there is a link next to the anme of each activity for submitting any unscheduled activities. Lastly, when loggin in if there were any activities scheduled to be completed since your last login you will be shown an update screen where you cna confirm if those acitivities were completed as scheduled.
<p>SUBMIT SCREEN W/ TIME<p>
<h5>Activity / distance history</h5>
<p>These pages provide a history of your recently performed activities, and your total distance per week.</p>
<h5>Preferences</h5>
<p>On the preferences there are various options for adjusting your plan length, deleting activity history, or changing your pace settings</p>
<h5>About this app</h5>
<p>This app was written as a practice project using the Django framwork for Python</p>

{% endblock content %}