<!-- home page showing activity table, options for adding/editing -->

{% extends 'planner/base.html' %}
{% block content %}
  <h4>Home Page</h4>
<p>--schedule--</p>
<table>
  <tr>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th>Sun</th>
  </tr>
  <tr>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
</table>  
   
<p>generate new schedule</p>

<p>User Activites</p>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    {% for act in activities %}
      <tr>
        <td>{{act.name}}</td>
        <td><a href="{% url 'planner:submit' act.id %}">Completed</td>
        <td><a href="{% url 'planner:edit' act.id%}">Edit</a></td>
        <td><a href="{% url 'planner:delete' act.id %}">Delete</a></td> 
      </tr>
     {% endfor %}
  </table>      

<p>edit user settings/ preferences</p>
<h4>Add exercises</h4>
  <a href="{% url 'planner:addnew' %}">Create New Activity</a>

<hr>

<p>TESTS,</p>
<p>test schedule</p>
<p>{{test_schedule}}</p>
<hr>
<p>{{profile}}</p>
   

{% endblock content %}

