    <!-- home page showing activity table, options for adding/editing -->

  {% extends 'planner/base.html' %}
    {% block content %}
      {% if user.is_authenticated %} <!-- Contains entire page -->
        {% if schedule_list %}
          <h4>User Schedule</h4>
            <table>
              <!-- schedule week one -->
              <tr>
                {% for day in schedule_list|slice:":7" %}
                <td>
                    {{day.date_str}}
                </td>
                {% endfor %}
              </tr>
              <tr>
                {% for day in schedule_list|slice:":7" %}
                <td>
                    {{day.name}}
                </td>
                {% endfor %}
              </tr>
              <!-- schedule week two -->
              <tr>
                {% for day in schedule_list|slice:"7:14" %}
                <td>
                    {{day.date_str}}
                </td>
                {% endfor %}
              </tr>
              <tr>
                {% for day in schedule_list|slice:"7:14" %}
                <td>
                  {{day.name}}
                </td>
                {% endfor %}
            </table>  
                
        
        {% endif %}  
        {% if no_sch_message %}
          <p>{{no_sch_message}}</p> 
        {% endif %}    
        <!-- links for creating / editing profile and schedule-->
        <p>
          <a href="{% url 'planner:generate' %}">Create / Edit Schedule</a>
        </p>  
        <p>    
          <a href="{% url 'planner:settings' %}">Edit User Preferences</a>
        </p>  

        <!--Individual Activities and links for editing / submitting them -->
        <h4>User Activites</h4>
          <table>
            <tr>
              <th>Name</th>
            </tr>
              {% for act in activities %}
            <tr>
              <td>{{act.name}}</td>
              <td><a href="{% url 'planner:submit' act.id %}">Completed</td>
              <td><a href="{% url 'planner:edit' act.id %}">Edit</a></td>
              <td><a href="{% url 'planner:delete' act.id %}">Delete</a></td> 
            </tr>
              {% endfor %}
          </table>      
      

        
        <h4>Add exercises</h4>
          <a href="{% url 'planner:addnew' %}">Create New Activity</a>

    

       
       {% else %} <p>Please log in /register </p>
       {% endif %} 
    




    <p>Tests</p>
      <p>schedule lists</p>
        {% for item in schedule_list %}
          <p>{{item.date_str}}|{{item.name}}</p>
        {% endfor %}
 
    {% endblock content %}
