{% extends 'planner/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
  <h3>Weekly distance history</h3>
{% endblock page_header %}

{% block content %}

    {% if message %}
      <p>{{message}}</p>
    {% endif %}
    {% if history_list %}
      <table class="table table-bordered table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Week beginning</th>
            <th scope="col">Distance(KM)</th>
          </tr>  
        </thead>
        <tbody> 
      {% for week in history_list %}
          <tr>
            <td>{{week.date}}</td><td>{{week.distance}}</td>
          </tr>
      {% endfor %}
        </tbody>  
      </table>
    {% endif %}    



{% endblock content %}