{% extends 'planner/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Edit Training Plan</h3>
{% endblock page_header %}

{% block content %}
  {% if message %}
    {{message}}
  {% endif %}  
  {% if not message %}
    <form method="post" action="{% url 'planner:generate' %}" class="form">
      {% csrf_token %} 
      <table class="table table-bordered table-sm">
        {% if Week_1 %}
        <tr>
        {% for day in Week_1 %}
         <td>{{day}}</td>
        {% endfor %}
      </tr>
      <tr>
          <td>{{form.day_1}}</td>
          <td>{{form.day_2}}</td>
          <td>{{form.day_3}}</td>
          <td>{{form.day_4}}</td>
          <td>{{form.day_5}}</td>
          <td>{{form.day_6}}</td>
          <td>{{form.day_7}}</td>
        </tr>

        
        {% endif %}

        {% if Week_2 %}  
        <tr>
        {% for day in Week_2 %}
         <td>{{day}}</td>
        {% endfor %}
        </tr>
      <tr>
          <td>{{form.day_8}}</td>
          <td>{{form.day_9}}</td>
          <td>{{form.day_10}}</td>
          <td>{{form.day_11}}</td>
          <td>{{form.day_12}}</td>
          <td>{{form.day_13}}</td>
          <td>{{form.day_14}}</td>
        </tr>  

        
        {% endif %}

        {% if Week_3 %}
        <tr>
        {% for day in Week_3 %}
         <td>{{day}}</td>
        {% endfor %}
      </tr>
      <tr>
          <td>{{form.day_15}}</td>
          <td>{{form.day_16}}</td>
          <td>{{form.day_17}}</td>
          <td>{{form.day_18}}</td>
          <td>{{form.day_19}}</td>
          <td>{{form.day_20}}</td>
          <td>{{form.day_21}}</td>
        </tr>

        
        {% endif %}

        {% if Week_4 %}  
        <tr>
        {% for day in Week_4 %}
         <td>{{day}}</td>
        {% endfor %}
        </tr>
      <tr>
          <td>{{form.day_22}}</td>
          <td>{{form.day_23}}</td>
          <td>{{form.day_24}}</td>
          <td>{{form.day_25}}</td>
          <td>{{form.day_26}}</td>
          <td>{{form.day_27}}</td>
          <td>{{form.day_28}}</td>
        </tr>  

       
        {% endif %}

        
          
        
      </table> 
      
      <button name="submit" class="btn btn-primary">Save Changes</button>

    

    </form>      
{% endif %}





{% endblock content %}