{% extends 'planner/base.html' %}
{% load bootstrap4 %}
{% block page_header %}
  <h4>Set goal values for new {{act_type}}.</h4>
{% endblock page_header %}
{% block content %}
<form method="post" action="{% url 'planner:setgoal' %}" class="form" >
  {% csrf_token %}
  {% bootstrap_form goal_form %}
  <input type="hidden" name="act_id" value="{{act_id}}">
  <input type="hidden" name="act_type" value="{{act_type}}">
  <button name="submit" class="btn btn-primary">Set Goal values</button>
</form>
{% endblock content %}