{% extends 'planner/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h4>Scheduled activities update</h4>
{% endblock page_header %}

{% block content %}
  <p>These are activities that were scheduled to be completed.
    Please select either the 'completed' or 'did not perform' option for each
    activity as appropriate.</p>
  <!--Create table where user can confirm whether past acitivities completed or not-->
  {% if update_list %}
  <table class="table table-md table-bordered">
    <thead class="thead-light">
    <tr>
      {% for day in update_list %}
        <th>{{day.date_iso}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for day in update_list %}
        <td>{{day.name}}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for day in update_list %}
        <td>
          <a href="{% url 'planner:submitdate' day.act_id day.date_iso %}">Completed Activity.</a>
        </td>
      {% endfor %}
    </tr>
    <tr>
      {% for day in update_list %}
        <td>
          <a href="{% url 'planner:restdate' day.date_iso %}">Did not complete.</a>
        </td>
      {% endfor %}
    </tr>
    </tbody> 
   </table>      


  
  {% else %} <p>No update list</p> <!--cut-->
  {% endif %}

{% endblock content %}